// Fonts
$font-size-base: 16px;
$font-family-sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
$font-color: #212125;
$line-height-base: 1.5;

// Breakpoints.
$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;

// Colors
$bg-color: #fffde1;
$link-color: #3f52e3;
$link-color-hover: #f12d2d;
$btn-color: #f8f398;
$btn-color-hover: #ffdf5a;
