@import 'variables';

html {
    height: 100%;
    font-size: $font-size-base;
}

body {
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    line-height: 1.7;
    font-family: $font-family-sans-serif;
    margin: 0;
    color: $font-color;
    background: $bg-color;
}

.container {
    max-width: 40rem;
    padding: 1.2rem;
    box-sizing: border-box;
}

h1 {
    font-size: 2.2rem;
    font-weight: 700;
    letter-spacing: .1rem;
    line-height: 1.2;
    margin: 0 0 2rem 0;

    @media (min-width: $screen-md-min) {
        font-size: 3rem;
    }
}

p {
    letter-spacing: .04rem;
    margin: 0 0 1rem 0;
}

ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    margin: 1.5rem 0 0 0;
}

li {
    margin-right: 1.2rem;
}

a:link,
a:visited {
    color: $link-color;
}

a:hover,
a:active {
    color: $link-color-hover;
}
