doctype html
html(lang='en')
  head
    include includes/head.pug
    style: include includes/home-critical.css
  body
    div.container!= content
    script(src=manifest['register-service-worker.js'] async)
    if config.isProduction
      include includes/google-analytics.pug
