doctype html
html(lang='en')
  head
    include includes/head.pug
  body
    div.container
      header.header
        div.header-title: a(href='/')= config.title
        div.header-site-description= config.siteDescription
      include includes/nav.pug
      main.article!= content
